
<mat-card>
    <form #customerForm="ngForm">
  <label>Merge open pull requests for a given repo(Marathon-fan/testCM)</label>
  <button
    (click)="onMergeClosedPullRequest()"
    mat-raised-button
    color="accent"
    type="”button”">Merge</button>
    <input type="text" class="form-control" id="age"
    [(ngModel)]="number" name="number">
  <br/>
   <label>merge result: {{mergeResult}}</label>
  </form>
</mat-card>


