<app-header></app-header>
<main>
  <app-closed-pull-request></app-closed-pull-request>
  <app-open-pull-request></app-open-pull-request>
  <app-merge-open-pull-request></app-merge-open-pull-request>
</main>
