<mat-card>
  <button
    (click)="onGetOpenPullRequest()"
    mat-raised-button
    color="accent"
    type="”button”">See a list of open pull requests for a given repo(Marathon-fan/testCM)</button>
    <table>
        <tr>
          <th *ngFor="let col of columns">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let char of prArray">
          <td *ngFor="let col of columns">
            {{char[col]}}
          </td>
        </tr>
      </table>
</mat-card>
